<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Saya</title>
</head>
<body>
    <div id="Foto">
        <img src="{% static 'foto.jpg' %}" width='150' height='200'>
    </div>

    <div>
        <h2>Biodata</h2>
        <table>
            <tr>
                <td>Nama</td>
                <td>: Ghifari Aulia Azhar Riza</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>: 1906306773</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>: Maung 2019</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>: Olahraga dan Musik</td>
            </tr>
            <tr>
                <td>Kuliah</td>
                <td>: Fasilkom UI</td>
            </tr>
        </table>
    </div>

    <h2>Deskripsi tentang saya</h2>
    <p style="font-size:18px">Saya anak  pertama dari 3 bersaudara. Saya lahir di Jakarta pada 30 Januari 2001.
        Sejak kecil hobi saya adalah bermain sepak bola ataupun olahraga lainnya dan bermain musik.</p>
    <p style="font-size:18px">Selain itu, saya juga suka bermain game terutama game simulasi.</p>

    <h2>Riwayat Pendidikan</h2>
    <table>
        <tr>
            <td>2005-2007</td>
            <td>: TK Islam Cikal Harapan BSD</td>
        </tr>
        <tr>
            <td>2007-2013</td>
            <td>: SD Islam Cikal Harapan BSD</td>
        </tr>
        <tr>
            <td>2013-2016</td>
            <td>: SMP Negeri 8 Tangerang Selatan</td>
        </tr>
        <tr>
            <td>2016-2019</td>
            <td>: SMA Negeri 2 Tangerang Selatan</td>
        </tr>
        <tr>
            <td>2019-Sekarang</td>
            <td>: Universitas Indonesia</td>
        </tr>
    </table>

    <h2>Media Sosial</h2>
    <table>
        <tr>
            <td>Twitter</td>
            <td>: <a href="https://twitter.com/ghifariauliaa">ghifariauliaa</a></td>
        </tr>
        <tr>
            <td>Instagram</td>
            <td>: <a href="https://instagram.com/ghifari30">ghifari30</a></td>
        </tr>
        <tr>
            <td>Linkedin</td>
            <td>: <a href="https://www.linkedin.com/in/ghifari-aulia-azhar-r-3a2180140/">Ghifari Aulia Azhar Riza</a></td>
        </tr>
    </table>


</body>
</html>